{% extends 'yogbookingapp/master.html' %}
{% load static %}
{% block content %} 

{% load crispy_forms_tags %}       

<!--Register--> 

<div class="container py-5">
	
	<form method="POST">
	{% csrf_token %}
		<!-- form user info -->
            <div class="card card-outline-secondary">
              <div class="card-header">
                <h3 class="mb-0"> Apply For Instractor</h3>
              </div>
              <div class="card-body">
                <form autocomplete="off" class="form" role="form">
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Full name</label>
                    <div class="col-lg-9">
                      <input class="form-control" name='name' type="text" placeholder="Jane" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Father's name</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" name='fname' placeholder="Bishop">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="email" name='email' required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">mobile</label>
                    <div class="col-lg-9">
                      <input class="form-control" name='mobile' type="number" placeholder="+91 " required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Aadhar</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="Number" name='aadhar' placeholder="" required>
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Date Of Birth</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="date" name='dob' required>
                    </div>
                  </div>
				   <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Job Location</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" name='joblocation' placeholder="job location" required>
                    </div>
                  </div>
				  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Qualification</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" name='qualification' placeholder="BA,MA,minimum 12th are Requred" required>
                    </div>
                  </div>
				<div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">City</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" name='city' placeholder="" required>
                    </div>
                  </div>
				  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" name='address' placeholder="" required>
                    </div>
                  </div>
				  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Experiance</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" name='exp' placeholder="" required>
                    </div>
                  </div>
				  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"> Upload Resume</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="FILE" name='resume' placeholder="Resume" required>
                    </div>
                  </div>
				  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"> Upload Profile</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="FILE" name='profile' placeholder="Resume" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Password</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="password" name="password" required> 
												<small class="form-text text-muted" id="passwordHelpBlock">Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</small>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Confirm</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="password" name="cpassword" required>
                    </div>
                  </div>

					<div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"> Upload Four image in yoga pose.</label>
                    <div class="col-lg-9">
                      <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"> Pic 1</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="FILE" name='pic1' placeholder="Resume" required>
                    </div>
                  </div>
				  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"> Pic 2</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="FILE" name='pic2' placeholder="Resume" required>
                    </div>
                  </div>
				  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"> Pic 3</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="FILE" name='pic3' placeholder="Resume" required>
                    </div>
                  </div>
				  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"> Pic 4</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="FILE" name='pic4' placeholder="Resume" required>
                    </div>
                  </div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                      <input class="btn btn-secondary" type="reset" value="Reset"> 
											<input class="btn btn-primary" type="submit" Value="Submit">
                    </div>
                  </div>
                </form>
              </div>
            </div><!-- /form user info -->
          </div>
        </div>
		 <script
      src="https://checkout.razorpay.com/v1/checkout.js"
      data-key="rzp_test_Dr4vACZpQp5l9V" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
      data-amount="19900" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
      data-currency="INR"//You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
      data-order_id="{{payment.id}}"//Replace with the order_id generated by you in the backend.
      data-buttontext=""
      data-name="Yogbooking.com"
      data-description="Yogbooking description"
      data-image="{% static 'images/logo.png'%}"
      data-prefill.name="Akash Kumar"
      data-prefill.email="akashdhiman025@gmail.com"
      data-theme.color="#009686"
  ></script>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>

{% endblock %}
