{% extends 'yogbookingapp/master.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
{% load static %}

<html lang="en">
 
<style>
.card-body h1{

  font-family: 'Noto Serif', cursive;
  
}

</style>
  
  <body>

  <div class="site-wrap">


  

    <div class="site-blocks-cover overlay inner-page-cover" style="background-image: url('{%static 'images/woman-sitting-yoga-pose-beach.jpg' %}');background-size: cover;" data-stellar-background-ratio="0.5">



          <div class="card-body" style="position: relative;left:0%;top:10%">

            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->

            <div class="container">
            <h1 style="font-family: robot;font-size: 50px;">Contact Address</h1><br>
            	<div class="row text-center">
            		<div class="col-sm-3 col-xs-6 first-box">
                    <h1><span class="glyphicon glyphicon-earphone"></span></h1>
                    <h3>Phone</h3>
                    <p>+91 9997971983</p><br>
                </div>
                <div class="col-sm-3 col-xs-6 second-box">
                    <h1><span class="glyphicon glyphicon-home"></span></h1>
                    <h3>Location</h3>
                    <p>shubham vihar H No. 33, near bharat gas godam, 202403</p><br>
                </div>

                <div class="col-sm-3 col-xs-6 third-box">
                    <h1><span class="glyphicon glyphicon-send"></span></h1>
                    <h3>E-mail</h3>
                    <p>support@yogbooking.com</p><br>

                </div>
                <a href="www.yogbooking.com">
                <div class="col-sm-3 col-xs-6 fourth-box">
                	<h1><span class="glyphicon glyphicon-leaf"></span></h1>
                    <h3>Web</h3>
                    <p>www.YogBooking.com.com</p><br>
                </div></a>
            	</div>
            </div>



    </div>
  </div>
</div>






<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>


<script src="{% static 'js/picturefill.min.js' %}"></script>
<script src="{% static 'js/lightgallery-all.min.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}