{% extends 'yogbookingapp/master.html' %}
{% load static %}
{% block content %}
<div id="index-banner" class="parallax-container">
  <div data-aos="fade-up" class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Yog Booking</h1>
      <div class="row center">
        <h5 class="header col s12 light">Book your Yog Instructor...</h5>
      </div>
      <div class="row center">
        <a href="about.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="{% static 'images/image.jpeg' %}" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m5">
        <div data-aos="fade-right" class="card-panel teal">
          <h5 style="color: yellow">Daily Drop Yoga Classes</h5>
          <span class="white-text">

Benefits of Yoga - Practice Yoga Daily Be Healthy Learn Yoga & Meditation To Get Betterment In Your Life,
 It Give You Healthy Mind & Peace. Benefits of Yoga,
 Practice Yoga Daily Be Healthy, Popular Yoga Benefits.
  Yoga therapy. Certified Yoga Teacher.
   Yoga Training Classes. <a href="#" class="yellow-text">see more...</a>
          </span>
        </div>
      </div>
      </div>

    </div>

  </div>
</div>


<div data-aos="fade-up" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">love to Write code..</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="{% static 'images/background2.jpg' %}" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">               </p>
          </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">

          </div>
    </div>
  </div>
  <div class="parallax"><img src="{% static 'images/download.jpeg' %}" alt="Unsplashed background img 3"></div>
</div>


{% endblock %}
