{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YogBooking.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tem/fonts/icomoon/style.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'tem/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'tem/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'tem/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'tem/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'tem/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'tem/css/lightgallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'tem/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'tem/css/swiper.css' %}">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <link rel="stylesheet" href="{% static 'tem/css/style.css' %}">
    <script>
      AOS.init();
    </script>
    <style media="screen">
      #mainlogo{
        position: absolute;
        width: 200px;
        top: -75px;
      }
    </style>
  </head>
  <body>

  <div class="site-wrap">


    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-3" role="banner">




      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <a href="{% url 'index' %}" class="text-black h2 mb-0">
              <img src="{% static 'images/logo.png' %}" id="mainlogo" alt="">
            </a>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li class="has-children">
                  <a href="">Apply</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'bookinstructor' %}">Book Your Instructor</a></li>
                    <li><a href="{% url 'register' %}">Apply For Instructor</a></li>

                  </ul>
                </li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'event' %}">Events</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_Active %}


        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      {% else %}

       


      {% endif %}


              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
                <li>  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a></li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>

    </header>
{% block content %}

{% endblock %}

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="mb-5">
            <h3 class="footer-heading mb-4">About Yogbooking.com</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis blanditiis, minima minus odio!</p>
          </div>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="row mb-5">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Navigations</h3>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'event' %}">Events</a></li>
                <li><a href="#">Career</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-6">
              <ul class="list-unstyled">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="{% url 'contact' %}">Contact Me</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>


        </div>

        <div class="col-lg-4 mb-5 mb-lg-0">
          <h3 class="footer-heading mb-4">Follow Me</h3>

              <div>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>



        </div>

      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;</script><script>document.write(new Date().getFullYear());</script>YogBooking.com All rights reserved
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

      </div>
    </div>
  </footer>




</div>

<script src="{% static 'tem/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'tem/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'tem/js/jquery-ui.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'tem/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'tem/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'tem/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'tem/js/jquery.magnific-popup.min.js' %}"></script>




<script src="{% static 'tem/js/picturefill.min.js' %}"></script>
<script src="{% static 'tem/js/lightgallery-all.min.js' %}"></script>
<script src="{% static 'tem/js/jquery.mousewheel.min.js' %}"></script>

<script src="{% static 'tem/js/main.js' %}"></script>

<script>

  $(document).ready(function(){
    $('#lightgallery').lightGallery();
  });


</script>

</body>
</html>
